<!DOCTYPE html>
<html>
  <head>
    <title>biofinel</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
  </head>
  <body>
    <div class="grid-container">
      <header class="navbar">
        <div class="brand">
          <ul>
            <li>
              <a href="#"><h2>biofinel</h2></a>
            </li>
            <li><a href="#" class="anmelden">Anmelden</a></li>
            <li><a href="#" class="warenkorb">Warenkorb</a></li>
          </ul>
        </div>
        <a class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="#na">Haselnüsse</a></li>
            <li><a href="#">Oliven</a></li>
            <li><a href="#na">Türkischer Honig</a></li>
            <li><a href="#">Türkischer Kaffee</a></li>
          </ul>
        </div>
        <div class="navbar-links2">
          <ul>
            <li><a href="#">Anmelden</a></li>
            <li><a href="#">Warenkorb</a></li>
          </ul>
        </div>
      </header>
      <main>
        <div>
          <div class="row center">
            <div class="card">
              <a href="product.html">
                <!-- image size 680px by 830px-->
                <img
                  class="medium"
                  src="./images/haselnuesse/geroestete-nuesse.jpg"
                  alt="geroestete-haselnuesse"
                />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Geröstete Haselnüsse 250g.</h2>
                </a>
                <div class="price">7.90 sfr.</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size 680px by 830px-->
                <img
                  class="medium"
                  src="./images/haselnuesse/geroestete-nuesse.jpg"
                  alt="geroestete-haselnuesse"
                />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Geröstete Haselnüsse</h2>
                </a>
                <div class="price">7.90 sfr.</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size 680px by 830px-->
                <img
                  class="medium"
                  src="./images/haselnuesse/geroestete-nuesse.jpg"
                  alt="geroestete-haselnuesse"
                />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Geröstete Haselnüsse</h2>
                </a>
                <div class="price">7.90 sfr.</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size 680px by 830px-->
                <img
                  class="medium"
                  src="./images/haselnuesse/geroestete-nuesse.jpg"
                  alt="geroestete-haselnuesse"
                />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Geröstete Haselnüsse</h2>
                </a>
                <div class="price">7.90 sfr.</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size 680px by 830px-->
                <img
                  class="medium"
                  src="./images/haselnuesse/geroestete-nuesse.jpg"
                  alt="geroestete-haselnuesse"
                />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Geröstete Haselnüsse</h2>
                </a>
                <div class="price">7.90 sfr.</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size 680px by 830px-->
                <img
                  class="medium"
                  src="./images/haselnuesse/geroestete-nuesse.jpg"
                  alt="geroestete-haselnuesse"
                />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Geröstete Haselnüsse</h2>
                </a>
                <div class="price">250g 7.90 sfr.</div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="row center">
        <p>All right reserved</p>
      </footer>
    </div>
  </body>
</html>
