html {
  font-size: 62.5%; /* standart schriftgrösse von Browsern ist= 16 x 62.5 = 10px = 1rem */
  box-sizing: border-box; /* alle anderen elemente passen sich  dem elternelement an */
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}

/* Layaut */
.grid-container {
  display: grid;
  grid-template-columns: 1fr; /* Je eine horizontale header, main, footer */
  grid-template-rows: 9rem 1fr 9rem; /* die höhe von header, main, footer */
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100%;
}

header {
  grid-area: header;
  background-color: #203040;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
  color: white;
}
h2:hover {
  color: greenyellow;
}

a {
  text-decoration: none;
}

a:hover {
  color: greenyellow;
}

.brand {
  color: greenyellow;
  font-size: 3rem;
  font-weight: bold;
  padding-left: 5rem;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* header fixiren beim scrollen */
header {
  color: #ffffff;
  padding: 1rem;
  overflow: hidden;
  background-color: #203040;
  position: fixed;
  width: 100%;
  height: 9rem;
}

/* brand stylen */
.brand ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.brand li {
  list-style: none;
}
.brand li a {
  text-decoration: none;
}
/* Navbar links stylen */
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

/* Navbar2 */
.navbar-links2 ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links2 li {
  list-style: none;
}

.navbar-links2 li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

/* Stylen für Mobile */
@media (max-width: 430px) {
  /* Layaut */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Je eine horizontale header, main, footer */
    grid-template-rows: auto 1fr auto; /* die höhe von header, main, footer */
    grid-template-areas:
      'header'
      'main'
      'footer';
    height: 100%;
  }

  header {
    grid-area: header;
    background-color: #203040;
  }

  main {
    grid-area: main;
    background-color: white;
  }

  footer {
    grid-area: footer;
    background-color: #203040;
  }
  /*fertig grid container*/
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links2 {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  /* class anmelden und warenkorb sichtbar machen */
  .anmelden {
    visibility: visible;
    padding-left: 9rem;
    padding-right: 1rem;
    font-size: 1.75rem;
  }
  .warenkorb {
    visibility: visible;
    font-size: 1.75rem;
  }
  .brand {
    font-size: 2.25rem;
  }

  /* für javascript */
  .navbar-links.active {
    display: flex;
  }
}

/* main style*/
.row.center {
  justify-content: center;
}

/* images */
img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}

/* card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #203040;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
  color: white;
}
.price:hover {
  color: greenyellow;
}

/*dropdown menü*/
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
